<h2><%= @title %></h2>
<div id="Errors" style="background-color:red; font-weight:bold; font-size:1.5em;" >
	<%= @error %>
</div>

<form action="/order_do" method="post" enctype="multipart/form-data">
	<fieldset>
	<legend>Ordering</legend>
		<p>
			<label>Tablenr:</label><br> 
			<input type="number" name="tablenr" id="tablenr" min="1" max="20" step="1" required/>
		</p>

		<p>
			<% @drinks.each_with_index do |drinks,i| %>
				<tr<%= ' class="alt"' if i%2==0 %>>
				<td><input type="checkbox" name="drinkorder[]" id="drinkorder" value="<%= drinks.id %>"><%= drinks.drink_type %> - <%= drinks.price %> kr </td>
				<td><input type="number" name="antall_<%= drinks.id %>" id="antalld" min="1" max="18" step="1" /></td><br>
				
			<% end %>
		</p>
		
 		<p>
			<label>Want to pay by cash?</label><br>
			<input type="checkbox" name="pay" id="pay" value="1"> Cash is king
		</p>
	
		<p>
			<input type="submit" value="Place order">
		</p>
	 </fieldset>
</form>


